/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#show_picture {
  width: 150px;
  height: 150px;
  align-items: center;
}
